<ion-view view-title="Analytics">
    <ion-content style="margin-top:50px;  ">

      <h1 class="page-header">Data</h1>

      <!-- HEADER
  <div style="color:white; text-align: center; background-color: #4881ea; vertical-align: middle;
    line-height: 50px;   font-size: 15px;" >
      <span style="margin-left:50px"> </span>
      <span  style="">Analytics </span>
    <button type="button" class="btn btn-default" ng-click="openstoremodal2()" style="line-height: 20px;
      background-color: #4881ea;  border-style: none; float: right; font-size: 25px; margin-top:5px; margin-right:10px">
      <span style="color:white" class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <h1 class="bob3" style="text-align:center;"> <u>Analytics </u></h1>
-->


<div class = "row responsive-sm">
     <div class = "col ">
       <div class="card">
           <div class="item item-divider">
               A line chart
           </div>

               <div class="item item-text-wrap">



                     <ul class="nav nav-tabs"  style="text-align:center;">
                      <li class="active" style=" width:50%;"><a data-toggle="tab" ng-click="positionButton()" href="">PEOPLE DATA</a></li>
                      <li style=" width:50%;"><a data-toggle="tab" href="" ng-click="displacementButton()">USER DATA</a></li>
                    </ul>

                 <div class="container table-responsive" ng-show="numberLinesAnalytics" style="width:100%">

                   <table class="table-responsive table-striped">
                     <thead>
                       <tr>
                          <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                              <a href="" ng-click="sortType = '_id' ; sortReverse = !sortReverse ">
                              Identification
                              <span ng-show="sortType == '_id'" class="fa fa-caret-down"></span>
                              </a>
                          </th>
                         <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                              <a href="" ng-click="sortType = 'email' ; sortReverse = !sortReverse ">
                                 Email
                                 <span ng-show="sortType == 'email'" class="fa fa-caret-down"></span>
                              </a>
                          </th>
                         <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                            <a href="" ng-click="sortType = 'store'; sortReverse = !sortReverse ">
                              Store
                              <span ng-show="sortType == 'store'" class="fa fa-caret-down"></span>
                           </a>
                         </th>
                       <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                          <a href="" ng-click="sortType = 'line'; sortReverse = !sortReverse ">
                           Line
                           <span ng-show="sortType == 'line'" class="fa fa-caret-down"></span>
                         </a>
                       </th>
                         <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                            <a href="" ng-click="sortType = 'created'; sortReverse = !sortReverse ">
                            Created
                            <span ng-show="sortType == 'created'" class="fa fa-caret-down"></span>
                          </a>
                         </th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr style="" ng-repeat="usercontent in usercontents | orderBy:sortType:sortReverse">
                         <td style="width:20%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent._id }}</td>
                         <td style="width:20%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.email }}</td>
                         <td style="width:20%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent.store }}</td>
                         <td style="width:20%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.line }}</td>
                         <td style="width:20%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.created }}</td>
                       </tr>

                     </tbody>
                   </table>
                 </div>


                 <div class="container table-responsive"  ng-hide="numberLinesAnalytics" style="width:100%">
                 <!--   <ul class="nav nav-tabs"  style="text-align:center;">
                     <li class="active" style=" width:50%;"><a data-toggle="tab" ng-click="positionButton()" href="">PEOPLE DATA</a></li>
                     <li style=" width:50%;"><a data-toggle="tab" href="" ng-click="displacementButton()">USER DATA</a></li>
                   </ul>  -->
                   <table class="table table-striped">
                     <thead>
                       <tr>
                         <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                              <a href="" ng-click="sortType = '_id'; sortReverse = !sortReverse ">
                               Identification
                               <span ng-show="sortType == '_id'" class="fa fa-caret-down"></span>
                             </a>
                         </th>
                         <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                              <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse ">
                                Email
                                <span ng-show="sortType == 'email'" class="fa fa-caret-down"></span>
                              </a>
                         </th>
                         <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                            <a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse ">
                             Firstname
                             <span ng-show="sortType == 'firstname'" class="fa fa-caret-down"></span>
                           </a>
                         </th>
                       <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
                          <a href="" ng-click="sortType = 'lastname'; sortReverse = !sortReverse ">
                            Lastname
                            <span ng-show="sortType == 'lastname'" class="fa fa-caret-down"></span>
                          </a>
                       </th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr  style="" ng-repeat="usercontent in usercontents | orderBy:sortType:sortReverse">
                         <td style="width:25%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent._id }}</td>
                         <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.email }}</td>
                         <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.firstname }}</td>
                         <td style="width:25%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent.lastname }}</td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                 </div>



        </div>

     </div>
  </div>





<div style="margin-bottom:40px;">
</div>


</ion-content>
</ion-view>
