<ion-view view-title="Dashboard">
  <ion-content style="margin-top:50px;  ">


    <h1 class="page-header"  style="margin-left:20px">Dashboard</h1>


      <div class = "row responsive-sm">
           <div class = "col ">

             <div class="card">
                 <div class="item item-divider">
                    <a href="#/chart"> Charts </a>
                 </div>
                 <div class="item item-text-wrap">

                   <img   style=" margin-left: auto; margin-right: auto; display: block;
                    font-size:50px; height: 150px; width: 225px;" src="img/chartpic.jpg" >

                 </div>
             </div>

           </div>
           <div class = "col">
               <div class="card">
                   <div class="item item-divider">
                      <a href="#/messaging">   Messaging </a>
                   </div>
                   <div class="item item-text-wrap">

                     <img   style=" margin-left: auto; margin-right: auto; display: block;
                      font-size:50px; height: 150px; width: 225px;" src="img/chatimage.jpeg" >

                   </div>

              </div>
           </div>

           <div class = "col">
               <div class="card">
                   <div class="item item-divider">
                      <a href="#/storeNames">   Storenames </a>
                   </div>
                   <div class="item item-text-wrap">

                     <img   style=" margin-left: auto; margin-right: auto; display: block;
                      font-size:50px; height: 150px; width: 225px;" src="img/store.jpeg" >

                   </div>

              </div>
           </div>

       </div>


       <div class = "row responsive-sm">
            <div class = "col ">

              <div class="card">
                  <div class="item item-divider">
                     <a href="#/storelines"> Storelines </a>
                  </div>
                  <div class="item item-text-wrap">

                    <img   style=" margin-left: auto; margin-right: auto; display: block;
                     font-size:50px; height: 150px; width: 225px;" src="img/storelines.jpeg" >

                  </div>
              </div>

            </div>
            <div class = "col">
                <div class="card">
                    <div class="item item-divider">
                      <a href="#/peopleinline">  People in Line </a>
                    </div>
                    <div class="item item-text-wrap">

                      <img   style=" margin-left: auto; margin-right: auto; display: block;
                       font-size:50px; height: 150px; width: 225px;" src="img/peopleinline2.jpeg" >

                    </div>

               </div>
            </div>

            <div class = "col">
                <div class="card">
                    <div class="item item-divider">
                      <a href="#/peopleinline">  Data </a>
                    </div>
                    <div class="item item-text-wrap">

                      <img   style=" margin-left: auto; margin-right: auto; display: block;
                       font-size:50px; height: 150px; width: 225px;" src="img/data.jpeg" >

                    </div>

               </div>
            </div>

        </div>



  </ion-content>
</ion-view>
