<ion-view view-title="Input">
  <ion-content style="margin-top:50px;">

    <h1 class="page-header">Input</h1>

    <div class = "row responsive-sm">
         <div class = "col ">

           <div class="card">
               <div class="item item-divider">
                   A line chart
               </div>
               <div class="item item-text-wrap">
                    Please use this page to input a Data Dump of information into the database for new users.
               </div>
           </div>
          </div>
      </div>


  <div class = "row responsive-sm">
       <div class = "col ">

         <div class="card">
             <div class="item item-divider">
               Data Input
             </div>
             <div class="item item-text-wrap">
               <div class="form-group"  >
                 <label for="comment">Comment:</label>
                 <textarea class="form-control" rows="5" ng-model="dataExample" id="comment"></textarea>
               </div>
               <button class="center-block btn btn-primary btn-lg" ng-click="pushArray(dataExample)">PassData</button>
             </div>
         </div>
        </div>
    </div>




 </ion-content>
</ion-view>
