<ion-view view-title="Messaging">
    <ion-content style="margin-top:50px;  ">

      <h1 class="page-header" id="messagingScreen2">Messaging</h1>


  <h1 style="text-align:center;" id="messagingScreen" >Please select person for notification</h1>

<!--  <button ng-click="messageAll()">Message All</button>      -->



<div class = "row responsive-sm">
     <div class = "col ">
       <div class="card">
           <div class="item item-divider">
               A line chart
           </div>

               <div class="item item-text-wrap">

                        <div class="bar bar-header item-input-inset">
                          <label class="item-input-wrapper" >
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" ng-model="message.body"  placeholder="Please add a Store Name">
                          </label>
                          <button class="button button-clear" ng-click="addStore1()" style="color:black">
                            Message
                          </button>
                        </div>
                 </div>
        </div>

     </div>
  </div>


  <div class = "row responsive-sm">
  <div class = "col ">
    <div class="card">

       <div class="item item-divider">
          Messaging Contact List
      </div>
      <div class="table-responsive"  style="padding:20px;">
       <table class="table" style="border="1"">
         <thead>
           <tr>
             <th><span style="font-size:20px;"> </span>
                <button class="btn btn-default btn" style="width:100%; background-color:skyblue"  ng-click="messageAll()">
                <span style="font-size:20px;">  <b>Message All</b></span> </button></th>
           </tr>
           </thead>

         <tbody >
               <tr   style="word-wrap: break-word; text-align: center;" ng-repeat="usercontent in usercontents | filter:search | orderBy:'store'">
                   <td  style="">
                     <a       ng-click="grabStuff(usercontent.notificationkey, usercontent.email)" class="list-group-item ">
                     <span style="color:black;font-weight: bold; ">{{ usercontent.email}}</span> <br>

                   </td>
               </tr>
         </tbody>
       </table>
     </div>

  </div>

</div>
</div>


<br>
<!--
{{storeName.sname}}
<table style="width:100%; border: 1px solid black; border-collapse: collapse;">
  <thead>
      <tr >
        		<th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
              Email</th>
        	<th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
            NotificationKey</th>
      </tr>
  </thead>
  <tr style="" ng-repeat="usercontent in usercontents">
    <td style="width:50%;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.email }}</td>
    <td style="width:50%; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent.notificationkey }}</td>
  </tr>
</table>
-->
<style>
table, th, td {
    border: 1px solid black;
}
</style>




<!--
<div style="" class="table-responsive">
<table class="table  table-hover">
  <thead>
  </thead>
      <tbody style="background-color:white; border:none; ">
            <tr ng-hide="numberLinesZero" style="word-wrap: break-word; text-align: center;" ng-repeat="usercontent in usercontents | filter:search | orderBy:'store'">
                <td  style="">
                  <a  style="background-color:white; border:none"    ng-click="grabStuff(usercontent.notificationkey, usercontent.email)" class="list-group-item ">
                  <span style="color:black;font-weight: bold; ">{{ usercontent.email}}</span> <br>

                </td>
            </tr>
      </tbody>
</table>
</div>
-->


<!--
<button onclick="myFunction()">Try it</button>
<p id="demo"></p>

<label class="item item-input">
  <span class="input-label" style="font-size:30px">Email: </span>
  <input type="text" style="font-size:20px" ng-model="email">
</label>
<label class="item item-input">
  <span class="input-label" style="font-size:30px">Password:</span>
  <input type="password" style="font-size:20px" ng-model="password">
</label>
-->

<div style="height:40px;">
</div>


  </ion-content>
</ion-view>
