<ion-view view-title="Storenames">
    <ion-content style="margin-top:50px;  ">



      <div class = "row responsive-sm">
         <div class = "col ">
           <h1 class="page-header" id="messagingScreen2">Storenames</h1>

         </div>
         <div class = "col">
           <div style="text-align:right">
                <div ng-switch on="selected">
                    <button class="btn btn-primary" ng-switch-when='true' ng-click='button3()'>Hide Actions</button>
                    <button class="btn btn-primary" ng-switch-when='false' ng-click='button4()'>Show Actions</button>
                </div>
            </div>

         </div>
       </div>


<h1 class="" style="text-align:center;" id="messagingScreen">Stores Available in Area</h1>



<!--
<div class = "row responsive-sm">
    <div class = "col">
     <div class="card">
         <div class="item item-divider">
             Coordinates
         </div>
         <div class="item item-text-wrap">
           <div class="  " style="font-size: 25px; text-align:center ">
             <div ng-if="wordspace" style=" ">
               {{words}}
             </div>
             {{latitude}}
             {{longitude}}
             <br>
              <button ng-if="wordspace" ng-click="findGPS();">GetLocation</button>
           </div>
         </div>
     </div>

   </div>
 </div>
-->





<!-- DELETE BUTTON -->
<button ng-show="deleteButton" style="width:100%; height:50px; opacity: 0.5;
 text-align:center" ng-click="exitDeleteMode()" type="button" class="btn btn-danger">
  DELETE MODE!<BR> PLESE PRESS ME TO EXIT!
</button>

<!-- SUCCESS BUTTON -->

<div ng-show="successMessage" class="alert alert-success">
  <strong>Success! This store {{successData}} has been added.</strong> .
</div>

<div ng-show="failedLogin"  class="alert alert-danger" style="text-align:center">
  <strong >{{failedData}}</strong>
</div>


<div class = "row responsive-sm">
     <div class = "col ">

       <div class="card" ng-show="textgoesAway">
           <div class="item item-divider">
               A line chart
           </div>
           <div class="item item-text-wrap">
             <div class="  " style="font-size: 25px; text-align:center ">
               <div ng-if="wordspace" style=" ">
                 {{words}}
               </div>
               {{latitude}}
               {{longitude}}

                <button ng-if="wordspace" ng-click="findGPS();">GetLocation</button>
                <br><br>
                <!------- DELETE MODE! --------->
                <div class="bob3" style="font-size: 20px;   text-align:center ">
                  Press to Enter Delete Mode  <br>
                  <button type="button" style="width:200px;" ng-click="deleteMode()" data-dismiss="modal" class="btn btn-danger">Delete Mode</button> <br>
                </div>
            </div>
           </div>

     </div>
  </div>
  </div>

  <!-- STORENAMES TABLE -->

  <style>
  table, th, td {
      border: 1px solid black;
  }
  </style>


  <div class = "row responsive-sm">
       <div class = "col ">
         <div class="card" style="   ">
           <div class="bar bar-header item-input-inset">
             <label class="item-input-wrapper" >
               <i class="icon ion-ios-search placeholder-icon"></i>
               <input type="search" ng-model="storeName.sname"  placeholder="Please add a Store Name">
             </label>
             <button class="button button-clear" ng-click="addStore1()" style="color:black">
               Add Store
             </button>
           </div>
         </div>
      </div>
  </div>



  <div class = "row responsive-sm">
       <div class = "col ">

    <div class="card"  >
        <div class="item item-divider">
            Messaging Contact List
        </div>


            <div class="table-responsive"  >
            <table class="table  table-hover">
              <thead>
            <!--      <tr >
                    <div class="card" style="   ">
                      <div class="bar bar-header item-input-inset">
                        <label class="item-input-wrapper" >
                          <i class="icon ion-ios-search placeholder-icon"></i>
                          <input type="search" ng-model="storeName.sname"  placeholder="Please add a Store Name">
                        </label>
                        <button class="button button-clear" ng-click="addStore1()" style="color:black">
                          Add Store
                        </button>
                      </div>
                    </div>
                  </tr>   -->

              </thead>
                  <tbody style="background-color:white; border:none">
                        <tr ng-hide="numberLinesZero" style="text-align: center;" ng-repeat="storewithName in storewithNames | filter:search | orderBy:'store'">
                            <td>
                              <a  style="background-color:white; border:none"  href="#/storelines"   ng-click="grabStuff(storewithName.store)" class="list-group-item ">
                              <span style="color:black;font-weight: bold;">{{storewithName.store}} <br>
                            </td>

                            <td  style="width:20%"  ng-show="deleteButton">
                              <button class="btn btn-danger btn" style="float:right; margin-top:5px" ng-click="deleteName2(storewithName.store)">Delete</button>
                            </td>
                        </tr>

                        <tr ng-show="numberLinesZero" >
                            <td><a style="background-color:white; border:none; text-align: center;" href=""class="list-group-item active" >
                                <span style="color:black;">PLEASE WAIT UNTIL THE GEOLOCATION UPDATES <br>
                                  THE PAGE OR ADD STORE YOURSELF  </span>
                            </td>
                            <td  style="width:80px"  ng-show="deleteButton">
                              <button class="btn btn-danger btn" style="float:right; margin-top:5px" ng-click="deleteLine(storewithName.line)">Delete</button>
                            </td>
                        </tr>

                  </tbody>
            </table>
            </div>
      </div>

    </div>
</div>


<div style="height:40px;">
</div>

  </ion-content>
</ion-view>
